.top {
  display: flex;
  justify-content: space-between;
}
.title {
  margin-left: 5px;
  color: navy;
}
.tag {
  color: navy;
  font-weight: bold;
}
.meg {
  font-weight: lighter;
  font-size: 60px;
  margin-bottom: 0;
}
.line {
  width: 1000px;
  height: 200px;
  background: navy;
}
.card-img img {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
}
.set{
  position: relative;
  margin-top: 23%;
}